*.pdb
*.log
*.tlog
bin-vc12/FLHook.pdb
bin-vc12/FLHook.dll
project-vc9/Release/
project-vc10/Release/
project-vc12/Release/
project-vc9/Debug/
project-vc10/Debug/
project-vc12/Debug/
*.htm
*.ncb
*.suo
project-vc9/FLHook.ncb
project-vc9/FLHook.ncb
project-vc9/FLHook.suo
*.exp
*.obj
*.asm
*.suo
project-vc9/FLHook.suo
*.user
*.manifest
*.dep
*.idb